<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-1">
                <i class="bi bi-geo-alt" style="font-size: 2rem"></i>
            </div>
            <div class="col-auto">
                <h2>{{currentCity?.Name}}</h2>
                <span>{{currentCity?.State}},{{currentCity?.Country}}</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto">
                <h5>
                    <i class="bi bi-clock"></i>
                    Current conditions
                </h5>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-auto">
                <img src="https://openweathermap.org/img/wn/10d@2x.png" />
            </div>
            <div class="col-auto">
                <i class="bi bi-thermometer-half"></i>
                {{currentWeather?.Temp}}
            </div>
            <div class="col-auto">
                <i class="bi bi-clouds"></i>
                {{currentWeather?.Clouds}}
            </div>
            <div class="col-auto">
                <i class="bi bi-wind"></i>
                {{currentWeather?.WindSpeed}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <app-forecast-weather [dailyWeatherList]="currentWeather?.DailyWeather"></app-forecast-weather>
</div>