div.auto-complete-container {
  margin: 2rem auto;
  width: 50%;

  & form {
    width: 100%;
  }

  & ul {
    width: 45%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;

    & li {
      text-align: left;
      cursor: pointer;
    }
  }
}
