<div class="auto-complete-container">
    <form [formGroup]="formGroup" class="row g-0">
        <div class="col">
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-search"></i></div>
                <input type="text" class="form-control" formControlName="locationSearchQuery"
                    (keyup)="searchCityLocation($event)" placeholder="Search City ..." />
            </div>
        </div>
    </form>
    <ul class="z-3 position-absolute rounded-3 shadow border border-success border-opacity-25 bg-white"
        *ngIf="cityLocationList.length">
        <li *ngFor="let cityLocation of cityLocationList" (click)="selectCityLocation(cityLocation)"
            class="p-2 border-bottom">
            <div class="d-flex  flex-row align-items-center">
                <i class="bi bi-geo-alt fs-5"></i>
                <div class="d-flex flex-column" style="margin-left: 1rem;">
                    {{cityLocation.Name}}
                    <small *ngIf="cityLocation.State">{{cityLocation.State}},</small>
                    <small>{{cityLocation.Country}}</small>
                </div>
            </div>

        </li>
    </ul>
</div>