<div class="container-md text-center py-3">
    <div class="row">
        <div class="col">
            <app-auto-complete [cityLocationList]="cityLocationList" (selectCity)="getWeatherDetails($event)"
                (locationSearchQuery)="searchCityLocations($event)"></app-auto-complete>
        </div>
    </div>
    <app-detail-weather *ngIf="weather" [currentWeather]="weather" [currentCity]="currentCity"></app-detail-weather>
    <div class="row" *ngIf="!weather">
        <div class="col primary">
            <img src="../../../assets/weather-icon-png-0.png" class="img-fluid" alt="weather-image">
        </div>
    </div>
</div>